@import "compass/css3";

.colBox {
  position: fixed;
  overflow: hidden;
  background: rgba(0,0,0,0.2);
  top: 0;
  left: 0;
  @include border-radius(3px);
  z-index: 5;
}

.colBoxInner {
  padding: 10px;
}

#worldmapCont {
  position: fixed;
  z-index: 3;
}

#nodemapCont {
  position: fixed;
  z-index: 4;
}