<div ng-controller="HeaderCtrl">
  <div class="navbar navbar-inverse navbar-fixed-top" ng-show="guiData.showHeader">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Facetime</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">{{ auth.user.email }}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="" ng-click="hide()">Hide</a>
        </li>
        <li>
          <a href="" ng-click="settings()">Settings</a>
        </li>
        <li>
          <a href="" ng-click="logout()">Logout</a>
        </li>
      </ul>
    </div>
    <div id="settingsBox" ng-show="showSettings">
      <button ng-click="toggleDrag()" class="btn btn-sm">Lock Drag</button>
      <button ng-click="toggleSnap()" class="btn btn-sm">Snap</button>
      <button ng-click="toggleResize()" class="btn btn-sm">Lock Resize</button>
      <button ng-click="saveSettings()" class="btn btn-sm">Save Settings</button>
    </div>
  </div>
</div>