<div id="colContainer" class="fullHeight">

  <h2>login</h2>

  <form novalidate name="loginForm">
      <label>
          <span>email</span>
          <input type="email" ng-model="login.email" required/>
      </label>
      <label>
          <span>password</span>
          <input type="password" ng-model="login.pass" required/>
      </label>
      <button ng-click="logIn(login.email, login.pass)">Log In</button>
  </form>
  <form novalidate name="newActForm">
    <label>
      <span>email</span>
      <input type="email" ng-model="newUser.email" />
    </label>
    <label>
      <span>password</span>
      <input type="password" ng-model="newUser.pass" />
    </label>
    <label>
      <span>confirm pass</span>
      <input type="password" ng-model="newUser.passConfirm" />
    </label>
    <button ng-disabled="form.$invalid" ng-click="createUser()">Log In</button>
  </form>
</div>