<header data-ng-include="'views/header.html'"></header>
<div id="colContainer" class="fullHeight">{{auth.user}}

  <quests class="colBox"
    ng-controller="QuestCtrl"
    ng-show="guiData.charSelect.done && data.uiSettings.quests.show"
    resizable
    draggable
    load-size
    load-position>
  </quests>

  <menubar class="colBox"
    ng-controller="MenubarCtrl"
    ng-show="guiData.charSelect.done && data.uiSettings.menubar.show"
    draggable
    load-position>
  </menubar>

  <npcs class="colBox"
    ng-controller="NpcCtrl"
    ng-show="guiData.charSelect.done && data.uiSettings.npcs.show"
    draggable
    resizable
    load-size
    load-position>
  </npcs>

  <target class="colBox"
    ng-controller="TargetCtrl"
    ng-show="guiData.charSelect.done"
    draggable
    resizable
    load-size
    load-position>
  </target>

  <chat class="colBox"
    ng-controller="ChatCtrl"
    ng-show="guiData.charSelect.done && data.uiSettings.chat.show"
    draggable
    resizable
    load-size
    load-position>
  </chat>

  <battle class="colBox"
    ng-controller="BattleCtrl"
    ng-show="guiData.charSelect.done"
    draggable
    resizable
    load-size
    load-position>
  </battle>

  <party class="colBox"
    ng-controller="PartyCtrl"
    ng-show="guiData.charSelect.done && data.uiSettings.party.show"
    draggable
    resizable
    load-size
    load-position>
  </party>

  <enemy class="colBox"
    ng-controller="EnemyCtrl"
    ng-show="guiData.charSelect.done"
    draggable
    resizable
    load-size
    load-position>
  </enemy>

  <global class="colBox"
    ng-controller="GlobalCtrl"
    ng-show="guiData.charSelect.done && data.uiSettings.global.show"
    draggable
    resizable
    load-size
    load-position>
  </global>

  <char class="colBox"
    ng-controller="CharCtrl"
    ng-show="guiData.charSelect.done && data.uiSettings.char.show"
    draggable
    resizable
    load-size
    load-position>
  </char>

  <inv class="colBox"
    ng-controller="InvCtrl"
    ng-show="guiData.charSelect.done && data.uiSettings.inv.show"
    draggable
    resizable
    load-size
    load-position>
  </inv>

  <ownstatus class="colBox"
    ng-controller="OwnStatusCtrl"
    ng-show="guiData.charSelect.done"
    draggable
    resizable
    load-size
    load-position>
  </ownstatus>

  <enemystatus class="colBox"
    ng-controller="EnemyStatusCtrl"
    ng-show="guiData.charSelect.done"
    draggable
    resizable
    load-size
    load-position>
  </enemystatus>

  <worldmap id="worldmapCont"
    ng-controller="WorldmapCtrl"
    ng-show="guiData.charSelect.done && data.uiSettings.worldmap.show"
    draggable
    ng-click="moveChar($event)"
    load-position>
  </worldmap>


  <charselect class="colBox"
    ng-controller="CharSelectCtrl"
    ng-show="!guiData.charSelect.done">
  </charselect>

</div>